@page
@model CSPharma_v4._1.Pages.Roles.Admin

@{
    ViewData["Title"] = "Roles Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="body">
    <h1>Admin Page</h1>
</div>