@page
@model CSPharma_v4._1.Pages.EstadosDevolucionPedido.EditModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="body">
    <h1>Edit</h1>

    <h4>TdcCatEstadosDevolucionPedido</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TdcCatEstadosDevolucionPedido.CodEstadoDevolucion" />
                <div class="form-group">
                    <label asp-for="TdcCatEstadosDevolucionPedido.MdUuid" class="control-label"></label>
                    <input asp-for="TdcCatEstadosDevolucionPedido.MdUuid" class="form-control" />
                    <span asp-validation-for="TdcCatEstadosDevolucionPedido.MdUuid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TdcCatEstadosDevolucionPedido.MdDate" class="control-label"></label>
                    <input asp-for="TdcCatEstadosDevolucionPedido.MdDate" class="form-control" />
                    <span asp-validation-for="TdcCatEstadosDevolucionPedido.MdDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TdcCatEstadosDevolucionPedido.Id" class="control-label"></label>
                    <input asp-for="TdcCatEstadosDevolucionPedido.Id" class="form-control" />
                    <span asp-validation-for="TdcCatEstadosDevolucionPedido.Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TdcCatEstadosDevolucionPedido.DesEstadoDevolucion" class="control-label"></label>
                    <input asp-for="TdcCatEstadosDevolucionPedido.DesEstadoDevolucion" class="form-control" />
                    <span asp-validation-for="TdcCatEstadosDevolucionPedido.DesEstadoDevolucion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>

        <!-- Leyenda -->
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Código Estado Devolución</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>Aceptada</td>
                </tr>
                <tr>
                    <td>R</td>
                    <td>Rechazada</td>
                </tr>
                <tr>
                    <td>D1</td>
                    <td>Devolución en Almacén</td>
                </tr>
                <tr>
                    <td>D2</td>
                    <td>Devolución Finalizada</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
